
 <agm-map [latitude] = "54.18243" [longitude] = "-2.820268"></agm-map>

<div class="Welcome" fxLayout ="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px" fxLayoutAlign="center center"></div>
<section class = "current-training" fxLayout="column" fxLayoutAlign="center center">


    <p>Whoop</p>




   
   

    <!-- <mat-progress-spinner mode="determinate" [value]="progress"> </mat-progress-spinner>
    <h1>{{progress}}%</h1>
   
 <button mat-raised-button color ="accent" (click)="onStop()" > Stop </button> -->

</section>  
